/client/nbproject/private/
/client/build/

/server/nbproject/private/
/server/build/
/JavaApplication28/nbproject/private/
/JavaApplication28/build/
/JavaApplication29/nbproject/private/
/JavaApplication29/build/
/JavaApplication29/dist/